.visible {
    display: block;
}

.invisible {
    display: none;
}

.background-image {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
}

.catPic {
    height: auto;
    width: 100%;
}

.selected {
    border: solid 1px;
}

#list {
    float: left;
    width: 20%;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
}

#cats {
    float: left;
    display: inline-block;
    width: 40%;
    border: 1px solid red;

}

#admin {
    float: left;
    display: inline-block;
    width: 20%;
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
}

.counter {
    color: white;
    position:fixed;
    top: 0px;
    left: 150px;
    font-weight: bold;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 72px;
}